  <!-- footer -->
  <div class="wrap wrap--white">
  <footer class="section section__content section__content--lg">
    <div class="inset inset--lg u-clearfix">
      <section class="column nested_column--lg_fourth">
        <h2 class="t-title--2">
          <a href="/index.html">Let Girls Learn</a></h2>
        <hr class="separator--h">
        <nav class="sub_nav sub_nav--vertical" style="float:left;">
          <h3 class="t-title--3 t--gray--2">About Let Girls Learn</h3>
          <ul class="u-unmarked_list">
            <li class="sub_nav__link">
              <a href="/countries.html">The Countries</a>
            </li>
            <li class="sub_nav__link">
              <a href="/empoweringleaders.html">Pillar One - Empowering Leaders</a>
            </li>
            <li class="sub_nav__link">
              <a href="/workingwithcommunities.html">Pillar Two - Working Hand in Hand</a>
            </li>
            <li class="sub_nav__link">
              <a href="/increasingtheimpactofvolunteers.html">Pillar Three - Increasing Impact</a>
            </li>
            <li class="sub_nav__link">
              <a href="/logoandusage.html">Logo and Usage</a>
            </li>
          </ul>
        </nav>
      </section>
      <section class="column nested_column--lg_greater_fourth
          o-nested_column--sevens
          u-clearfix" style="margin-right: 0;margin-bottom: 3em;">
        <h2 class="t-title--2">
          <a href="http://peacecorps.gov">peacecorps.gov</a></h2>
        <hr class="separator--h">
        <nav class="column nested_column--fourth sub_nav sub_nav--vertical">
          <h3 class="t-title--3 t--gray--2">Get Involved</h3>
          <ul class="u-unmarked_list nested_column--stacked">
          <li class="sub_nav__link">
              <a href="https://donate.peacecorps.gov/donate">
                Donate</a>
            </li>
            <li class="sub_nav__link">
              <a href="https://www.peacecorps.gov/stories/">
                Peace Corps Stories</a>
            </li>
          </ul>
          <h3 class="t-title--3 t--gray--2">Resources</h3>
          <ul class="u-unmarked_list">
            <li class="sub_nav__link">
              <a href="https://www.peacecorps.gov/returned-volunteers/">
                Returned Volunteers</a>
            </li>
            <li class="sub_nav__link">
              <a href="https://www.peacecorps.gov/family-and-friends/">
                Family &amp; Friends</a>
            </li>
            <li class="sub_nav__link">
              <a href="https://www.peacecorps.gov/educators/">Educators</a>
            </li>
          </ul>
        </nav>
        <nav class="column nested_column--fourth sub_nav sub_nav--vertical">
          <h3 class="t-title--3 t--gray--2">Become a Volunteer</h3>
          <ul class="u-unmarked_list">
            <li class="sub_nav__link">
              <a href="https://www.peacecorps.gov/apply/">Apply</a>
            </li>
            <li class="sub_nav__link">
              <a href="https://www.peacecorps.gov/volunteer/connect-with-a-recruiter/">
                Talk to a recruiter</a>
            </li>
            <li class="sub_nav__link">
              <a href="https://www.peacecorps.gov/events/">
                Attend an event</a>
            </li>
            <li class="sub_nav__link">
              <a href="https://www.peacecorps.gov/volunteer/volunteer-openings/">
                Volunteer Openings</a>
            </li>
          </ul>
        </nav>
        <nav class="column nested_column_half sub_nav sub_nav--vertical">
          <h3 class="t-title--3 t--gray--2">Contact</h3>
          <ul class="u-unmarked_list">
            <li class="sub_nav__link sub_nav__link--condensed">Peace Corps<br>
              Paul D. Coverdell Peace Corps Headquarters<br>
              1111 20th Street, NW<br>
              Washington, D.C. 20526</li>
            <li class="sub_nav__link">Phone: 855-855-1961</li>
            <li class="sub_nav__link">
              <a href="https://www.peacecorps.gov/contact/">
                Contact Us</a>
            </li>
            <li class="sub_nav__link">
              <a href="mailto:partnerships@peacecorps.gov?subject=Let Girls Learn Partnership Opportunity Information">
                Join Us</a>
            </li>
          </ul>
        </nav>
      </section>
      <nav class="sub_nav sub_nav--horizontal">
        <ul class="u-unmarked_list">
          <li class="sub_nav__link">
            <a class="t-body--xsm" href="https://www.peacecorps.gov/about/open-government/website-policy/privacy-statement/">
              Privacy Policy</a>
          </li>
          <li class="sub_nav__link">
            <a class="t-body--xsm" href="https://www.peacecorps.gov/about/open-government/foia/">
              Freedom of Information</a>
          </li>
        </ul>
      </nav>
    </div>
  </footer>
  </div>
  <!-- end footer -->

  <script type="text/javascript" src="js/letgirlslearn.min.js"></script>
  <script type="text/javascript">
    // Google font loading
    WebFontConfig = {
      google: { families: [ 'Lato:300,400:latin' ] }
    };
  </script>
  <!-- GovDelivery Subscription Overlay -->
  <script src='https://content.govdelivery.com/overlay/js/1709.js'></script>
  <!-- End GovDelivery Overlay -->
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PDX8KJ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-PDX8KJ');</script>
  <!-- End Google Tag Manager -->
</body>
</html>
