<div class="top_image top_image--bordered top_image--sm"
      id="header"
      style="background-image:url(img/{{ page.banner_image }});">
    <div class="wrap">
      <div class="banner banner--support banner--page header">
        <nav class="main_nav section">
          <div class="header__logo">
            <a class="logo__img logo__page" href="/index.html">
              <img src="img/logo-letgirlslearn.png" alt="Let Girls Learn" />
            </a>
          </div>
          <div class="header__title">
            <h1 class="t-title--3 t--light">{{ page.title }}</h1>
            <h2 class="t-title--1 t--light">{{ page.subtitle }}</h2>
          </div>
          <div class="column--third">

          </div>
          <div class="share share--transparent js-share corner corner--tr">
            {% include social_share.html %}
          </div>
        </nav>
      </div>
    </div>
  </div>
