<a href="#" class="button button--subscribe js-subscribeOn">
  <span class="subscribe__link_text">connect</span>
</a>
<div class="subscribe__box">
    <span class="subscribe__text">
      Subscribe for updates.<br/>
      <center><a class="button" href="https://public.govdelivery.com/accounts/USPC/subscriber/new?topic_id=USPC_12">
               <span class="subscribe__link_text">subscribe</span></a></center>
    </span>
<a href="#"
  class="subscribe__close t-link--white">
  <span class="subscribe__text js-subscribeOff">Close
    <img class="icon" src="img/i_arrow_up.svg" style="margin-left: 6px;" />
  </span>
</a>
</div>
