---
layout: parallax
title: Let Girls Learn
subtitle: The Countries
banner_image: countries_hero.jpg
description: "In the first year of the Let Girls Learn collaboration, Peace Corps will initially target these countries where we can make a real difference."
---

{% include static_page_header.html %}

{% for country in site.data.countries %}
  <!-- {{ country.name | downcase | replace:' ','-' }}" -->
  <!-- {{ prev_country }}" -->
  <div class="parallax"
    {% if forloop.first %}
    data-anchor-target="#first + .panel__background"
    {% else %}
    data-anchor-target="#{{ prev_country }} + .panel__background"
    {% endif %}
		data-bottom-top="transform:translate3d(-50%, 200%, 0px)"
		data-top-bottom="transform:translate3d(-50%, 0%, 0px)"
    >
    <div class="parallax__bg" title="{{ country.name }}"
      style="background-image:url(img/img_country_bg_{{ country.name | downcase | replace:' ','-' }}.jpg);
      "
      {% if forloop.first %}
      data-anchor-target="#first + .panel__background"
      {% else %}
      data-anchor-target="#{{ prev_country }} + .panel__background"
      {% endif %}
      data-bottom-top="transform:translate3d(0, -28%, 0px)"
      data-top-bottom="transform:translate3d(0, 28%, 0px)"
    >
    </div>
  </div>
  {% capture prev_country  %}{{ country.name | downcase | replace:' ','-' }}{% endcapture %}
{% endfor %}

<!-- {{ country.name }} -->
<div class="wrap wrap--white">
  <section class="panel panel--b">
    <div class="anchor_linker" id="pillar1"></div>
    <article class="panel__content" style="padding-top:0;" id="first">
      <div class="block">
      {% include breadcrumbs.html breadcrumb_title='The Countries' outside_block='True' %}
        <article class="block__content_full">
          <h2 class="t-heading--2">The Countries</h2>
          <p>
            The Peace Corps’ Let Girls Learn Program operates in 35 countries worldwide to make lasting impact, expanding into these countries in the last year: Armenia, Cameroon, Costa Rica, Ecuador, Fiji, The Gambia, Guinea, Guyana, Jamaica, Lesotho, Liberia, Madagascar, Malawi, Panama, Peru, Samoa, Senegal, Sierra Leone, South Africa, Tanzania, Vanuatu and Zambia.
          </p>
          <p>
            During the first year of the initiative, Peace Corps worked in 13 target countries, including: Albania, Benin, Burkina Faso, Cambodia, Ethiopia, Georgia, Ghana, Moldova, Mongolia, Mozambique, Thailand, Togo, and Uganda. Browse below to learn more about some of the barriers to girls’ education and empowerment in these countries.
          </p>
        </article>
        <aside class="block__bottom">
          <img src="img/maps/all-full.jpg" class="map__image" alt="Map of the World" />
        </aside>
        <div style="clear: both"></div>
        {% for next_country in site.data.countries %}
          {% if forloop.index == 1 %}
          <div class="anchor">
            <a href="#{{ next_country.name | downcase | replace:' ','-' }}" class="anchor__icon js-anchorLink" title="{{ next_country.name }}">
              <img src="img/i-down_arrow.svg" alt="Down arrow icon" />
            </a>
            <div class="anchor__text">
              <a href="#{{ next_country.name | downcase | replace:' ','-' }}" class="anchor__link js-anchorLink" title="{{ next_country.name }}">
                <h5 class="t-title--4">First Country</h5>
                <span class="t-body--sm">{{ next_country.name }}</span>
              </a>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      </div>
    </article>
    <div class="panel__background">
    {% for next_country in site.data.countries %}
      {% if forloop.first %}
        <div class="panel__background__img" title="{{ next_country.name }}"
          style="background-image:url(img/img_country_bg_{{ next_country.name | downcase | replace:' ','-' }}.jpg);
            ">
        </div>
      {% endif %}
    {% endfor %}
    </div>
  </section>
</div>
<!-- end panel -->

  {% for country in site.data.countries %}

  <!-- {{ country.name }} -->
  <div class="wrap wrap--white">
    <section class="panel panel--b">
      <div class="anchor_linker" id="pillar1"></div>
      <article class="panel__content"
        id="{{ country.name | downcase | replace:' ','-' }}">
        <div class="block">
          <aside class="block__side">
            <img src="img/maps/{{ country.name | downcase | replace:' ','-' }}.jpg" class="map__image" alt="Map of {{ country.name}}" />
          </aside>
          <article class="block__content">
            <h2 class="t-heading--2">{{ country.name }}</h2>
            <p>
              {{ country.description | replace:"’", "'" | replace:"—", "-" | replace:'“', '"' | replace: '”', '"' }}
            </p>
          </article>
          <div style="clear: both"></div>
          {% assign current_index = forloop.index %}
          {% for next_country in site.data.countries offset:1 %}
            {% if forloop.index == current_index %}
            <div class="anchor">
              <a href="#{{ next_country.name | downcase | replace:' ','-' }}" class="anchor__icon js-anchorLink" title="{{ next_country.name }}">
                <img src="img/i-down_arrow.svg" alt="Down arrow icon" />
              </a>
              <div class="anchor__text">
                <a href="#{{ next_country.name | downcase | replace:' ','-' }}" class="anchor__link js-anchorLink" title="{{ next_country.name }}">
                  <h5 class="t-title--4">Next Country</h5>
                  <span class="t-body--sm">{{ next_country.name }}</span>
                </a>
              </div>
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </article>
      {% if forloop.last %}
      {% else %}
      <div class="panel__background">
        {% for next_country in site.data.countries offset:1 %}
          {% if forloop.index == current_index %}
            <div class="panel__background__img" title="{{ next_country.name }}"
              style="background-image:url(img/img_country_bg_{{ next_country.name | downcase | replace:' ','-' }}.jpg);
                ">
            </div>
          {% endif %}
        {% endfor %}
      </div>
      {% endif %}
    </section>
  </div>
  <!-- end panel -->

  {% endfor %}

  <div class="wrap wrap--white">
    <section class="panel panel--b">
      <div class="anchor_linker" id="pillar1"></div>
      <article class="panel__content">
        <div class="block">
<!--           <aside class="block__side">
            <img src="img/maps/uganda.jpg" class="map__image" alt="Map of Uganda">
          </aside>
          <article class="block__content">
            <h2 class="t-heading--2">Uganda</h2>
            <p>
              In Uganda, 20% of females enter early marriage and 33% of adolescent girls give birth by age 18. Reduction of barriers to education - whether social, structural, or cultural – will aid in greater female student retention. There are 166 Volunteers in Uganda working with their communities on projects in agriculture, English education, and health, including Volunteers in the Global Health Service Partnership program.
            </p>
          </article>
          <div style="clear: both"></div> -->
          <article>
            <p>* All data pulled from The World Bank Gender Data Portal </p>
          </article>
          
        </div>
      </article>
      
      
    </section>
  </div>
