---
layout: parallax
description: "As part of the U.S. government's commitment to Let Girls Learn, First Lady Michelle Obama and the Peace Corps have formed a powerful collaboration to expand access to education for adolescent girls around the world."
url: index.html
---
  <!-- parallax -->
  <div class="parallax parallax--a"
    data-anchor-target="#js-navBarSibling + .wrap"
		data-bottom-top="transform:translate3d(-50%, 100%, 0px)"
		data-top-bottom="transform:translate3d(-50%, 15%, 0px)"
    data--500-top-bottom="transform: translate3d(-50%, -25%, 0px)"
    >
    <div class="parallax__bg"
      title="Girl smiling in a classroom."
      style="background-image:url(img/img_landing_bg_a_v2.jpg);"
      data-anchor-target="#js-navBarSibling + .wrap"
      data-bottom-top="transform:translate3d(0, 0, 0px)"
      data-top-bottom="transform:translate3d(0, 0, 0px)"
    >
    </div>
  </div>
  <div class="parallax"
    data-anchor-target="#scroll_panel2 + .panel__background"
		data-bottom-top="transform:translate3d(-50%, 200%, 0px)"
		data-top-bottom="transform:translate3d(-50%, 0%, 0px)"
    >
    <div class="parallax__bg"
      title="Two Girls Sitting at a Desk"
      style="background-image:url(img/img_landing_bg_b.jpg);
        background-size: 115%"
      data-anchor-target="#scroll_panel2 + .panel__background"
      data-bottom-top="transform:translate3d(0, -30%, 0px)"
      data-top-bottom="transform:translate3d(0, 30%, 0px)"
    >
    </div>
  </div>
  <div class="parallax"
    data-anchor-target="#scroll_panel3 + .panel__background"
		data-bottom-top="transform:translate3d(-50%, 200%, 0px)"
		data-top-bottom="transform:translate3d(-50%, 0%, 0px)"
    >
    <div class="parallax__bg"
      title="Peace Corps Volunteer sitting with girls."
      style="background-image:url(img/img_landing_bg_c.jpg);"
      data-anchor-target="#scroll_panel3 + .panel__background"
      data-bottom-top="transform:translate3d(0, -30%, 0px)"
      data-top-bottom="transform:translate3d(0, 30%, 0px)"
    >
    </div>
  </div>
  <div class="parallax"
    data-anchor-target="#scroll_panel4 + .panel__background"
		data-bottom-top="transform:translate3d(-50%, 200%, 0px);"
		data-top-bottom="transform:translate3d(-50%, 0%, 0px);"
    >
    <div class="parallax__bg parallax--adjust"
      title="Girls standing in a yard."
      style="background-image:url(img/img_landing_bg_d.jpg);
        background-position-y: 25%;"
      data-anchor-target="#scroll_panel4 + .panel__background"
      data-bottom-top="transform:translate3d(0, -20%, 0px)"
      data-top-bottom="transform:translate3d(0, 25%, 0px)"
    >
    </div>
  </div>
  <div class="parallax"
    data-anchor-target="#scroll_panel5 + .panel__background"
		data-bottom-top="transform:translate3d(-50%, 200%, 0px)"
		data-top-bottom="transform:translate3d(-50%, 0%, 0px)"
    >
    <div class="parallax__bg"
      title="Girls walking across a bridge."
      style="background-image:url(img/img_landing_bg_e.jpg);"
      data-anchor-target="#scroll_panel5 + .panel__background"
      data-bottom-top="transform:translate3d(0, -30%, 0px)"
      data-top-bottom="transform:translate3d(0, 30%, 0px)"
    >
    </div>
  </div>
  <!-- end parallax -->

<div id="skrollr-body">
  <div class="top_image" title="The First Lady with a group of girls." style="background-image:url(img/top_hero.jpg);"
      id="jsVideoPlaceholder">
    <div class="wrap video_sibling">
      <a class="logo__img logo--top" href="/">
        <img src="img/logo-letgirlslearn.png" alt="Let Girls Learn"
          width="146" height="122" />
      </a>
      <div style="z-index: 300;" class="corner corner--tr">
        <div class="subscribe js-subscribe">
          {% include subscribe.html %}
        </div>
        <div class="share js-share">
          {% include social_share.html %}
        </div>
      </div>
      <div class="banner banner--support banner--no_line banner--blurb
          u-clearl u-align_c" style="padding-bottom: 0; max-height: 10.6em;">
        <h1 class="t-blurb--md">
          Join First Lady Michelle Obama and the Peace Corps to Let Girls Learn
        </h1>
        <a href="#" class="jsVideoPlay button button--white button--round u-lower button--icon"
            data-video-id="jsVideoPlaceholder">
            <svg version="1.1" class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="23px" height="23px" viewBox="0 0 443.307 443.306" style="enable-background:new 0 0 443.307 443.306;"
               xml:space="preserve">
              <g>
                <path d="M415.934,212.799L36.788,2.097C32.411-0.377,28.65-0.661,25.51,1.242c-3.14,1.902-4.708,5.328-4.708,10.276V431.78
                  c0,4.952,1.569,8.381,4.708,10.284c3.14,1.902,6.901,1.622,11.278-0.855l379.146-210.703c4.381-2.478,6.571-5.434,6.571-8.856
                  C422.505,218.224,420.314,215.274,415.934,212.799z"/>
              </g>
            </svg><br>
          <span>play</span>
        </a>
      </div>
    </div>
  </div>

  <!-- nav bar -->
  <div class="wrap wrap--white main_nav--sticky js-sticky"
    id="js-navBarWrapper"
    data-1-top="position:!absolute;top:!42.6em;background: !white;"
    data-top="position:!fixed;top:!0;background: !transparent;"
    >
    <nav class="main_nav section"
        data-anchor-target="#js-navBarWrapper"
        data-640-start="background-color: rgba(255, 255, 255, 1); color: rgb(142,140, 130)"
        data-720-start="background-color: rgba(201, 63, 22, 0.85); color:rgb(255, 255, 255);"
        >

      <div class="main_nav__list main_nav__logos" style="
          left: 3%; top: .5em; right: inherit; position: absolute;">
        <a href="/" title="Top of page or home" class="main_nav__link"
          data-anchor-target="#js-navBarWrapper"
          data-start="opacity: 0; display: !none"
          data-640-start="display: !block"
          data-720-start="opacity: 1; display: !block"
          >
          <img src="img/logo-letgirlslearn.png" alt="Let Girls Learn Logo" />
        </a>
      </div>
      <ul class="main_nav__list section__content column--two_third">
        <li class="main_nav__link t-title--3">
          <a href="#overview" class="js-anchorLink">
            Overview</a></li>
        <li class="main_nav__link t-title--3">
          <a href="#pillar1" class="js-anchorLink">
            The Three Pillars</a></li>
        <li class="main_nav__link t-title--3">
          <a href="#getinvolved" class="js-anchorLink">
            Get Involved</a></li>
      </ul>
      <ul class="main_nav__list main_nav__logos section__content column--third">
        <li class="main_nav__link t-title--3"
          data-anchor-target="#js-navBarWrapper"
          data-640-start="opacity: 1"
          data-720-start="opacity: 0"
          >
          <a href="http://www.peacecorps.gov" target="_blank">
            <img src="img/peace_corps_logo.png" alt="Peace Corps Logo" /></a></li>
        <li class="main_nav__link t-title--3"
          data-anchor-target="#js-navBarWrapper"
          data-640-start="opacity: 1"
          data-720-start="opacity: 0"
          >
          <a href="http://www.whitehouse.gov" target="_blank">
            <img src="img/white_house.png" alt="White House Seal" /></a></li>
      </ul>
    </nav>
  </div>
  <div id="js-navBarSibling"></div>
  <!-- end nav bar -->

  <!-- panel-1 -->
  <div class="wrap wrap--white wrap--top" id="overview">
    <section class="panel panel--a" id="panel1">
      <div class="panel__content" id="scroll_panel1">
        <article>
          <h2 class="t-heading--1">Overview</h2>
          <img src="img/panel-2-block.jpg" alt="Three girls in a classroom." />
          <p class="t-body--lg">
            Let Girls Learn is a U.S. government initiative launched by the President and First Lady that helps adolescent girls attain a quality education and enables them to reach their full potential. Educating girls is essential to healthy and thriving communities but, globally, 62 million girls are not in school, and barriers to adolescent girls completing school are particularly significant. In some countries, fewer than 10% of teenage girls complete secondary school.
          </p>
          <p class="t-body--lg">
            As part of the initiative, the Peace Corps’ Let Girls Learn Program encourages community-led solutions by empowering local leaders to put lasting solutions in place. Peace Corps Volunteers who live and work at the grassroots level serve as catalysts of change, and every American can get involved and make a difference. Since the launch of Let Girls Learn in March 2015, with the help of corporate partners and individual donors from all over the U.S., Peace Corps has funded projects in more than 33 countries in Africa, Asia, Eastern Europe and Central America.
          </p>
          <a class="t-single_nav t-body--lg" href="/countries.html">
            See where we work <span class="read_more_link">
                    <svg width="14px" height="24px" viewBox="0 0 14 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                        <g id="Artboard-1" sketch:type="MSArtboardGroup" fill="#A12122">
                          <path d="M13.5,11.5693338 L1.00568828,23.138141 L7.23034253e-13,22.2069481 L11.4886234,11.5693338 L7.24337017e-13,0.931192854 L1.00568828,3.55271368e-13 L13.5,11.5693338" id="Imported-Layers-8" sketch:type="MSShapeGroup"></path>
                        </g>
                      </g>
                    </svg>
                  </span></a>
        </article>
      </div>
      <div class="panel__background panel__background--right">
        <div class="panel__background__img"
          style="background-image:url(img/img_landing_bg_a_v2.jpg);" title="Girl smiling in a classroom.">
        </div>
      </div>
    </section>
  </div>
  <!-- end panel-1 -->

  <!-- panel-2, pillar 1 -->
  <div class="wrap wrap--white" id="threepillars">
    <section class="panel panel--b">
      <div class="anchor_linker" id="pillar1"></div>
      <article class="panel__content" id="scroll_panel2">
        <div class="block">
          <aside class="block__side">
            <img src="img/img_landing_pillar1.jpg" alt="Girl with blue paint on hand." />
          </aside>
          <article class="block__content">
            <h4 class="t-title--3 t--gray--2">Pillar One</h4>
            <h2 class="t-heading--2"><a href="/empoweringleaders.html">Empowering Leaders</a></h2>
            <p>
              The initiative increases gender awareness by delivering targeted trainings which reach thousands of Volunteers and tens of thousands of community leaders - empowering them to become champions of girls' education.
            </p>
            <a class="t-single_nav" href="/empoweringleaders.html">
              Read about one Volunteer's impact.</a>
          </article>
          <div style="clear: both"></div>
          <div class="anchor">
            <a href="#pillar2" class="anchor__icon js-anchorLink"
                title="Pillar 2: Working hand in hand with communities">
              <img src="img/i-down_arrow.svg" alt="Down arrow icon" />
            </a>
            <div class="anchor__text">
              <a href="#pillar2"
                  class="anchor__link js-anchorLink"
                  title="Pillar 2: Working hand in hand with communities">
                <h5 class="t-title--4">Pillar Two</h5>
                <span class="t-body--sm">Working Hand in Hand with Communities</span>
              </a>
            </div>
          </div>
        </div>
      </article>
      <div class="panel__background">
        <div class="panel__background__img sm--r"
          style="background-image:url(img/img_landing_bg_b.jpg);
            background-size: 115%" title="Two Girls Sitting at a Desk">
        </div>
      </div>
    </section>
  </div>
  <!-- end panel-2 -->

  <!-- panel-3, pillar 2 -->
  <div class="wrap wrap--white">
    <section class="panel panel--b">
      <div class="anchor_linker js-anchorLink" id="pillar2"></div>
      <article class="panel__content" id="scroll_panel3">
        <div class="block">
          <aside class="block__side">
            <img src="img/img_landing_pillar2.jpg" alt="Peace Corps Volunteer Jennifer Jiggetts." />
          </aside>
          <article class="block__content">
            <h4 class="t-title--3 t--gray--2">Pillar Two</h4>
            <h2 class="t-heading--2"><a href="/workingwithcommunities.html">Working Hand in Hand with Communities</a></h2>
            <p>
              Thousands of Peace Corps Volunteers work side by side with local leaders to achieve community-based solutions through the Peace Corps Partnership Program. From a school library to a technology camp for girls, under Let Girls Learn, Peace Corps Volunteers working on gender-related projects can now apply for support through a newly established girls' education fund.
            </p>
            <a class="t-single_nav" href="/workingwithcommunities.html">
              Read about one Volunteer's impact.</a>
          </article>
          <div style="clear: both"></div>
          <div class="anchor">
            <a href="#pillar3" class="anchor__icon js-anchorLink"
                title="Pillar 3: Putting Peace Corps Volunteers to Work">
              <img src="img/i-down_arrow.svg" alt="Down arrow icon" />
            </a>
            <div class="anchor__text">
              <a href="#pillar3"
                  class="anchor__link js-anchorLink"
                  title="Pillar 3: Putting Peace Corps Volunteers to Work">
                <h5 class="t-title--4">Pillar three</h5>
                <span class="t-body--sm">
                  Increasing the Impact of Peace Corps Volunteers</span>
              </a>
            </div>
          </div>
        </div>
      </article>
      <div class="panel__background">
        <div class="panel__background__img sm--c"
          style="background-image:url(img/img_landing_bg_c.jpg);" title="Peace Corps Volunteer sitting with girls.">
        </div>
      </div>
    </section>
  </div>
  <!-- end panel-3 -->


  <!-- panel-4, pillar 3 -->
  <div class="wrap wrap--white">
    <section class="panel panel--b">
      <div class="anchor_linker" id="pillar3"></div>
      <article class="panel__content" id="scroll_panel4">
        <div class="block">
          <aside class="block__side">
            <img src="img/img_landing_pillar3.jpg" alt="Girls inspecting a well." />
          </aside>
          <article class="block__content">
            <h4 class="t-title--3 t--gray--2">Pillar Three</h4>
            <h2 class="t-heading--2"><a href="/increasingtheimpactofvolunteers.html">Increasing the Impact of Peace Corps Volunteers</a></h2>
            <p>
              A major component of the initiative is supporting Peace Corps Volunteers work to break down the social and cultural barriers to girls' education in the communities they serve. Under Let Girls Learn, the Peace Corps is expanding the number of Volunteers focused on advancement of girls' education and empowerment.
            </p>
            <a class="t-single_nav" href="/increasingtheimpactofvolunteers.html">
              Read about one Volunteer's impact.</a>
          </article>
          <div style="clear: both"></div>
          <div class="anchor">
            <a href="#getinvolved" class="anchor__icon js-anchorLink" title="Get invovled">
              <img src="img/i-down_arrow.svg" alt="Down arrow icon" />
            </a>
            <div class="anchor__text">
              <a href="#getinvolved"
                  class="anchor__link js-anchorLink"
                  title="Get Involved">
                <p class="t-body--sm">Get <br> Involved</p>
              </a>
            </div>
          </div>
        </div>
      </article>
      <div class="panel__background panel__background--right">
        <div class="panel__background__img"
          style="background-image:url(img/img_landing_bg_d.jpg);" title="Girls standing in a yard.">
        </div>
      </div>
    </section>
  </div>
  <!-- end panel-4 -->

  <!-- panel-5, get involved -->
  <div class="wrap wrap--white">
    <section class="panel panel--b">
      <div class="anchor_linker" id="getinvolved"></div>
      <article class="panel__content" id="scroll_panel5">
        <div class="block">
          <article class="block__content" style="margin-bottom: 1.8em;">
            <h2 class="t-heading--2">Get Involved</h2>

           <br>
           <h3 class="t-heading--3">Share</h3>
            <p>
              Pledge your support for Let Girls Learn by clicking the buttons below. Share your story or photo with #LetGirlsLearn.
           </p>
           <a class="button button--sm" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fletgirlslearn.peacecorps.gov%2Findex.html" target="_blank">
              Share on Facebook</a>
            <a class="button button--sm" href="https://twitter.com/home?status={{ site.twitter_prompt | cgi_escape }}" target="_blank">
              Share on Twitter</a>
            <a class="button button--sm"
            href="https://www.pinterest.com/pin/create/button/?url={{ site.basedomain }}&media={{ site.basedomain }}/img/opengraph.jpg&description={{ site.title | cgi_escape }}" target="_blank">
              Share on Pinterest</a>

           <br><br>
           <h3 class="t-heading--3">Connect</h3>
           <p>
           Stay informed by signing up for news and updates about Let Girls Learn.
          </p>
            <a class="button button--sm " href="https://public.govdelivery.com/accounts/USPC/subscriber/new?topic_id=USPC_12">
              Subscribe</a>

           <br><br>
           <h3 class="t-heading--3">Donate</h3>
           <p>
           Support this initiative by donating to the Peace Corps <a href="https://beta.peacecorps.gov/donate/fund/let-girls-learn">Let Girls Learn Fund</a>. 100% of your contribution goes directly to helping girls across the globe.
          </p>
            <a class="button button--sm " href="https://beta.peacecorps.gov/donate/fund/let-girls-learn/#amount-form">
              Donate Today</a>

           <br><br>
           <h3 class="t-heading--3">Lead</h3>
           <p>
           Build support for Let Girls Learn in your own community. Check out the toolkit for great ideas on how to get others involved.
          </p>
            <a class="button button--sm " href="http://files.peacecorps.gov/lgl/LGL_Toolkit.pdf" target="_blank">
              Toolkit</a>

           <br><br>
           <h3 class="t-heading--3">Apply</h3>
           <p>
           Are you ready to do more? Search Volunteer opportunities and find out how you can create lasting change as a Peace Corps Volunteer.
          </p>
            <a class="button button--sm " href="http://www.peacecorps.gov/openings/?from=lglhome">
              Apply Now</a>
          </article>
          <div class="anchor">
            <a href="#learnmore" class="anchor__icon js-anchorLink" title="Learn More">
              <img src="img/i-down_arrow.svg" alt="Down arrow icon" />
            </a>
            <div class="anchor__text">
              <a href="#learnmore"
                  class="anchor__link js-anchorLink"
                  title="Learn More">
                <span class="t-body--sm">Learn More</span>
              </a>
            </div>
          </div>
        </div>
      </article>
      <div class="panel__background">
        <div class="panel__background__img sm--r"
          style="background-image:url(img/img_landing_bg_e.jpg);" title="Girls walking over a bridge.">
        </div>
      </div>
    </section>
  </div>
  <!-- end panel-5 -->


  <!-- panel-6, partners -->
  <div class="wrap wrap--white">
    <section class="panel panel--b">
      <div class="anchor_linker" id="learnmore"></div>
      <article class="panel__content" id="scroll_panel6">
        <div class="block">
          <article class="block__content">
            <h2 class="t-heading--2">Learn More</h2>
            <p>
            Browse the links below to find out more about how we're all working together to Let Girls Learn.
            </p>
            <ul class="u-unmarked_list" style="margin-top: 1em;">
              {% for link in site.data.learnmorelinks %}
              <li style="padding-bottom:0.5em;">
                <a href="{{ link.url }}" target="_blank" title="{{ link.title }}">{{ link.title }}
                  <span class="read_more_link">
                    <svg width="14px" height="24px" viewBox="0 0 14 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                        <g id="Artboard-1" sketch:type="MSArtboardGroup" fill="#A12122">
                          <path d="M13.5,11.5693338 L1.00568828,23.138141 L7.23034253e-13,22.2069481 L11.4886234,11.5693338 L7.24337017e-13,0.931192854 L1.00568828,3.55271368e-13 L13.5,11.5693338" id="Imported-Layers-8" sketch:type="MSShapeGroup"></path>
                        </g>
                      </g>
                    </svg>
                  </span>
                </a>
              </li>
              {% endfor %}
           </p>
          </article>
        </div>
      </article>
      <div class="panel__background panel__background--right">
        <div class="panel__background__img"
          style="background-image:url(img/img_landing_bg_f.jpg) !important" title="Girl looking over a wall.">
        </div>
      </div>
    </section>
  </div>
</div>
