---
layout: simplepage
title: Let Girls Learn
subtitle: Logo and Usage
banner_image: pillar1_hero.jpg
description: "Use this web button to link to us on your website and highlight Let Girls Learn. You may copy the image or the HTML code directly below to place a banner on your website."
---
  <div class="wrap wrap--white">
    <section class="panel panel--b">
    {% include breadcrumbs.html breadcrumb_title='Logo and Usage' %}
      <article class="panel__content panel__simplepage">

        <p> <img src="img/lgl_logo_300x300_black.jpg" style="width: 150px; float: left; margin: 15px; margin-top: 0px;" alt="Let Girls Learn Logo"> Use this web button to link to us on your website and highlight <a href="https://letgirlslearn.peacecorps.gov/">Let Girls Learn</a>. You may copy the image or the HTML code directly below to place a banner on your website. <br/><span style="border: 1px dotted #808080; font-size: .98em; display: flex; padding: 5px; margin-top: 9px;">https://letgirlslearn.peacecorps.gov/img/lgl_logo_300x300_black.jpg</span>
        </p>
        <br/><br/>
        <p>
        <b>GUIDELINES FOR USE</b><br/><br/>
        <ul>
          <li>The <i>Let Girls Learn</i> name and logo may be used in connection with distribution of information about the <i>Let Girls Learn</i> initiative, as found on U.S. government <i>Let Girls Learn</i> websites. Any other uses are unauthorized.</li>
          <li>The <i>Let Girls Learn</i> name and logo may not be used to endorse any commercial product or service, nor may the logo be used in advertising or in any manner that could give rise to the appearance of endorsement.</li>
          <li>The <i>Let Girls Learn</i> name and logo may not be used in any matter that could give rise to the appearance that the U.S. Government owns, operates, or is affiliated with any nongovernmental entity or its programs, products or services.</li>
          <li>The <i>Let Girls Learn</i> name and logo may not be used to solicit funds or other contributions of monetary value.</li>
        </ul>
        </p>

        <br/><br/> <br/>
        {% include main_logos.html %}
      </article>
    </section>
  </div>
