---
layout: static
title: Pillar Two
subtitle: Working Hand in Hand with Communities
banner_image: pillar2_hero.jpg
description: "When Peace Corps Volunteer Jennifer Jiggetts began teaching at a primary school in Lesotho, her fellow educators noted how the students, many of whom were orphans, had to trek half a mile up the mountain to get water from the springs."
---
  <div class="wrap wrap--white">
    <section class="panel panel--b">
      {% include breadcrumbs.html %}
      <article class="panel__content panel__story">
        <p>
          <span>When Peace Corps Volunteer Jennifer Jiggetts began teaching at a primary school in Lesotho, her fellow educators noted how the students, many of whom were orphans, had to trek half a mile up the mountain to get water from the springs.</span> Instead of studying, they spent hours to get water. Because getting water is considered women's work in Lesotho, the girls' trek directly impacted their learning. If they had a water pump by the school where they could fill their water bottles, they'd be able to dedicate more time to their studies.
        </p>
        <p>
          With this incentive and Jennifer's background in craftmaking, she and her students created a jewelry-making business to raise money to purchase a pump. Their contributions helped buy the pump, which was funded with additional support from the Peace Corps Partnership Program, a program where anyone can support grassroots projects designed and implemented by Peace Corps Volunteers and members of their communities.
        </p>
        <p>
          Her students made beads from clay, then made bracelets, necklaces, earrings, and bookmarks, as well as jewelry from other locally available resources, including safety pins and seshoeshoe&mdash;Lesotho's national fabric. Together, Jennifer, fellow teachers, and her students used social media and the Internet to promote and sell the jewelry, as well as selling it at local markets.
        </p>

        <img class="full" src="img/pillar2_feature.jpg" alt="Peace Corps Volunteer Jennifer Jiggetts holding a young girl." />

         <p>
          In addition to learning a craft, Jennifer's students learned to start and run a business: how to write a business plan, open a bank account, balance a budget, and market and sell products. They learned to set goals, apply for a grant, and design and manage a project. More than that, they learned to use the skills and tools they already had to develop new skills, building their self-confidence to take their futures in their own hands.
        </p>
        <p>
          After almost two years, the students raised enough to install the water pump. Their next goal? They'd like to raise money to build a better classroom.
        </p>

        <p>
          With access to funding specifically dedicated to girls' education and empowerment projects through the Peace Corps Partnership Program, Peace Corps Volunteers like Jennifer will be able to make an even bigger, more sustainable difference in the lives of young women around the world.
        </p>

        <div class="tri-image">
          <img class="tri-image_one" src="img/pillar2_tri-1.jpg" alt="Girls making jewelry." />
          <img class="tri-image_two" src="img/pillar2_tri-2.jpg" alt="A young girl making clay beads." />
          <img class="tri-image_three" src="img/pillar2_tri-3.jpg" alt="A young girl making clay beads." />
        </div>

        <p style="text-align:center;">
          <a class="t-title--3 t--light t-link--no_underline" href="/increasingtheimpactofvolunteers.html">Pillar Three: Increasing the Impact of Peace Corps Volunteers ></a>
        </p>
        {% include main_logos.html %}
      </article>
    </section>
  </div>
  <!-- end panel-2 -->
