/*
 * Grid
 */
/*
 * Breakpoint
 */
/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/*
 * Global variables
 */
/*
 * Color
 */
/*
 * Z-Index
 */
/*
 * All element specific rules.
 *
 * When this file starts to get large it should be made into a folder with
 * files specific to each thing, such as elememts/_text.scss
 */
/*
 * Global variables
 */
/*
 * Color
 */
/*
 * Z-Index
 */
html, body {
  margin: 0;
  overflow-x: hidden;
  height: 100%; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  background-color: #E5E2D3;
  border-color: #A12122;
  -webkit-font-smoothing: subpixel-antialiased;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0; }

figure {
  margin: 0; }

fieldset {
  border-width: 0; }

ul {
  margin: 0; }

button {
  cursor: pointer; }

h1 a, h2 a, h3 a, h4 a, h5 a {
  text-decoration: none; }

a img {
  border: 0;
  outline: 0; }

/*
 * Global variables
 */
/*
 * Color
 */
/*
 * Z-Index
 */
/*
 * Global mixins.
 */
/*
 * Sets the font-size in rems with a px fallback.
 */
/*
 * Parses a text value to an int.
 */
/*
 * Sets the property to the values in rem, with a px fallback for old browsers.
 *
 * $property The css property to set the values on
 * $values A list of rem values to set on the property.
 *
 * Example: @include rem(margin, 1rem 0 2rem);
 */
html {
  font-size: 62.5%; }

body {
  font-size: 15px;
  font-size: 1.5rem;
  color: #A12122;
  font-family: 'Lato', 'Verdana', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  text-transform: none;
  -webkit-font-smoothing: antialiased; }

.t--caps {
  letter-spacing: .09em;
  text-transform: uppercase; }

.t--primary {
  color: #A12122; }

.t--secondary {
  color: #087A7E; }

.t--white {
  color: #ffffff; }

.t--error {
  color: #AD3737; }

.t--gray {
  color: #aaa698; }

.t--gray--2 {
  color: #67655D;
  text-decoration-color: #67655D; }

.t--black {
  color: #222; }

.t-heading, h1, h2, h3, h4, h5, h6 {
  font-family: Archer, Archer SSm A, Archer SSm B, sans-serif;
  font-weight: 300;
  line-height: 1.3;
  text-decoration: none; }

.t-heading--1, h1 {
  font-size: 44px;
  font-size: 4.4rem;
  margin-top: 0;
  margin: 0 0 9px 0;
  margin: 0 0 0.9rem 0; }

.t-heading--2, h2 {
  font-size: 27px;
  font-size: 2.7rem;
  margin-top: 0;
  margin: 0 0 9px 0;
  margin: 0 0 0.9rem 0; }

.t-heading--3, h3 {
  font-size: 21px;
  font-size: 2.1rem;
  margin: 0 0 9px 0;
  margin: 0 0 0.9rem 0;
  margin-top: 0; }

.t-heading--4, h4 {
  font-size: 18px;
  font-size: 1.8rem;
  margin: 0 0 9px 0;
  margin: 0 0 0.9rem 0;
  margin-top: 0; }

h4 + h3 {
  margin-top: 0; }

.t-heading--stylized {
  display: inline-block;
  line-height: 1.25; }

.t-body--lg {
  font-size: 18px;
  font-size: 1.8rem;
  margin: 24px 0;
  margin: 2.4rem 0;
  line-height: 1.8; }
  .t-body--lg p {
    font-size: 18px;
    font-size: 1.8rem;
    margin: 24px 0;
    margin: 2.4rem 0;
    line-height: 1.8; }

.t-body--md, p, button {
  font-size: 16px;
  font-size: 1.6rem;
  margin: 12px 0;
  margin: 1.2rem 0;
  line-height: 1.6; }

.t-body--sm, .sub_nav__link {
  font-size: 14px;
  font-size: 1.4rem;
  margin: 10px 0;
  margin: 1rem 0;
  line-height: 1.6; }

.t-body--xsm {
  font-size: 12px;
  font-size: 1.2rem;
  margin: 9px 0;
  margin: 0.9rem 0;
  line-height: 1.2; }

p {
  color: #222;
  margin: 0; }

p + p {
  margin-top: 1em; }

.t-title {
  letter-spacing: .09em;
  text-transform: uppercase;
  font-family: 'Lato', 'Verdana', sans-serif;
  font-weight: 500; }

.t-title--1 {
  letter-spacing: .09em;
  text-transform: uppercase;
  font-family: 'Lato', 'Verdana', sans-serif;
  font-weight: 500;
  font-size: 23px;
  font-size: 2.3rem;
  margin: 0 0 15px 0;
  margin: 0 0 1.5rem 0; }

.t-title--2 {
  letter-spacing: .09em;
  text-transform: uppercase;
  font-family: 'Lato', 'Verdana', sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-size: 1.6rem;
  margin: 0 0 10px 0;
  margin: 0 0 1rem 0; }
  @media screen and (min-width: 500px) and (max-width: 899px)  {
    .t-title--2 {
      font-size: 15px;
      font-size: 1.5rem; } }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .t-title--2 {
      font-size: 15px;
      font-size: 1.5rem; } }

.t-title--3, .button--md {
  letter-spacing: .09em;
  text-transform: uppercase;
  font-family: 'Lato', 'Verdana', sans-serif;
  font-weight: 500;
  font-size: 13px;
  font-size: 1.3rem;
  margin: 10px 0;
  margin: 1rem 0; }
  @media screen and (min-width: 500px) and (max-width: 899px)  {
    .t-title--3, .button--md {
      font-size: 13px;
      font-size: 1.3rem; } }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .t-title--3, .button--md {
      font-size: 13px;
      font-size: 1.3rem; } }

.t-title--4, .breadcrumbs {
  letter-spacing: .09em;
  text-transform: uppercase;
  font-family: 'Lato', 'Verdana', sans-serif;
  font-weight: 500;
  font-size: 11px;
  font-size: 1.1rem;
  margin: 8px 0;
  margin: 0.8rem 0; }

.t-title--5 {
  letter-spacing: .09em;
  text-transform: uppercase;
  font-family: 'Lato', 'Verdana', sans-serif;
  font-weight: 500;
  font-size: 9px;
  font-size: 0.9rem;
  margin: 8px 0;
  margin: 0.8rem 0; }

.t-title--6 {
  letter-spacing: .09em;
  text-transform: uppercase;
  font-family: 'Lato', 'Verdana', sans-serif;
  font-weight: 500;
  font-size: 7px;
  font-size: 0.7rem;
  margin: 4px 0;
  margin: 0.4rem 0; }

.t-blurb--lg {
  font-family: Archer, Archer SSm A, Archer SSm B, sans-serif;
  font-weight: 300;
  line-height: 1.8;
  font-size: 36px;
  font-size: 3.6rem;
  margin: 25px 0;
  margin: 2.5rem 0;
  font-weight: 300;
  line-height: 1.7; }

.t-blurb--md {
  font-family: Archer, Archer SSm A, Archer SSm B, sans-serif;
  font-weight: 300;
  line-height: 1.8;
  font-size: 26px;
  font-size: 2.6rem;
  margin: 20px 0;
  margin: 2rem 0;
  line-height: 1.5; }
  @media screen and (min-width: 500px) and (max-width: 899px)  {
    .t-blurb--md {
      font-size: 25px;
      font-size: 2.5rem; } }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .t-blurb--md {
      font-size: 22px;
      font-size: 2.2rem;
      margin-top: 0; } }

.t-blurb + .t-blurb {
  margin-top: -2.5rem;
  margin-top: -20px;
  margin-top: -2rem; }

.t-icon {
  letter-spacing: .09em;
  text-transform: uppercase;
  font-size: 10.5px;
  font-size: 1.05rem;
  font-weight: 500;
  color: #67655D; }

.t-single_nav {
  display: block;
  margin: 1em 0;
  text-decoration: none; }

.t-link, a {
  color: #A12122;
  text-decoration: none; }
  .t-link:hover, a:hover {
    text-decoration: underline; }

.t-link--gray, .main_nav__link * {
  color: #67655D; }
  .t-link--gray:visited, .main_nav__link :visited {
    color: #8e8c82; }
  .t-link--gray:hover, .main_nav__link :hover {
    color: #67655D; }
  .t-link--gray:active, .main_nav__link :active {
    color: #cb2a2b; }

.t-link--white, .share .share__text, .subscribe .subscribe__text {
  color: #ffffff; }
  .t-link--white:active, .share .share__text:active, .subscribe .subscribe__text:active {
    color: #f2f2f2; }

.t-link--no_underline {
  text-decoration: none; }

.t-title--1 a, .t-title--2 a, .t-title--3 a, .button--md a, .t-title--4 a, .breadcrumbs a, .t-title--5 a {
  text-decoration: none; }

.t--light {
  font-weight: 300; }

.t--bold {
  font-weight: 700; }

.read_more_link svg {
  height: 1.2rem; }

/*
 * Global variables
 */
/*
 * Color
 */
/*
 * Z-Index
 */
/*
 * Global mixins.
 */
/*
 * Sets the font-size in rems with a px fallback.
 */
/*
 * Parses a text value to an int.
 */
/*
 * Sets the property to the values in rem, with a px fallback for old browsers.
 *
 * $property The css property to set the values on
 * $values A list of rem values to set on the property.
 *
 * Example: @include rem(margin, 1rem 0 2rem);
 */
.u-unmarked_list, form ul, .main_nav {
  padding: 0; }
  .u-unmarked_list li, form ul li, .main_nav li {
    list-style: none; }

.u-inline_list *, form ul * {
  display: inline-block; }

.u-inline {
  display: inline-block;
  vertical-align: middle; }

@media screen and (min-width: 0px) and (max-width: 499px)  {
  .u-block--at_sm {
    display: block; } }

.u-clearfix:after, .panel .panel__content:after, .panel__story .bi-image:after, .panel__story .tri-image:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.u-clearl {
  clear: left; }

.u-visually_hidden {
  left: -9999px;
  position: absolute;
  top: -9999px; }

.u-hv_center--block {
  position: relative; }
  .u-hv_center--block .u-hv_center--block__content {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%; }

.u-h_center--block {
  margin-left: auto;
  margin-right: auto; }

.u-v_center--block {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
  top: 50%; }

.u-align_l {
  text-align: left; }

.u-align_r {
  text-align: right; }

.u-align_c {
  text-align: center; }

.u-wrap {
  max-width: 73.3333333333em;
  margin-left: auto;
  margin-right: auto; }
  .u-wrap:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden; }

.u-pull {
  float: left; }

.u-pullr {
  float: right; }

.u-lower {
  margin-bottom: -5em !important; }

/*
 * Global variables
 */
/*
 * Color
 */
/*
 * Z-Index
 */
.banner {
  padding-top: 0.5em;
  padding-right: 3em;
  width: 100%; }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .banner {
      padding: 1em; } }

.banner .t-blurb--md {
  margin-bottom: 0; }

.banner--primary {
  border-color: #A12122;
  background: #E5E1D4; }

.banner--secondary {
  border-color: #F2EFE8;
  background-color: #087A7E;
  color: #ffffff; }

.banner--support {
  border-color: #F2EFE8;
  background-color: rgba(201, 63, 22, 0.75);
  color: #ffffff; }

.banner--neutral_dark {
  border-color: #F2EFE8;
  background-color: #67655D;
  color: #ffffff; }

.banner--dark_transparent {
  background-color: rgba(34, 34, 34, 0.5);
  color: #ffffff; }

.banner--no_line {
  border-top: none; }

.banner--short {
  padding-bottom: .5em;
  padding-top: .5em; }

.banner--sitewide_notification {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.75em;
  padding-bottom: 0.75em; }

.banner--blurb {
  padding-left: 12em;
  padding-right: 12em; }
  @media screen and (min-width: 500px) and (max-width: 899px)  {
    .banner--blurb {
      padding-left: 4em;
      padding-right: 4em; } }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .banner--blurb {
      padding-left: 1em;
      padding-right: 1em; } }

.banner--page h1 {
  margin-bottom: 0;
  padding-bottom: 0; }

/*
 * Buttons styles.
 */
/*
 * Global variables
 */
/*
 * Color
 */
/*
 * Z-Index
 */
/*
 * Global mixins.
 */
/*
 * Sets the font-size in rems with a px fallback.
 */
/*
 * Parses a text value to an int.
 */
/*
 * Sets the property to the values in rem, with a px fallback for old browsers.
 *
 * $property The css property to set the values on
 * $values A list of rem values to set on the property.
 *
 * Example: @include rem(margin, 1rem 0 2rem);
 */
.button {
  letter-spacing: .09em;
  text-transform: uppercase;
  font-family: 'Lato', 'Verdana', sans-serif;
  font-weight: 500;
  font-size: 13px;
  font-size: 1.3rem;
  margin: 10px 0;
  margin: 1rem 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #A12122;
  border: 0;
  color: #ffffff;
  display: inline-block;
  padding: 1.3em 2em;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
  white-space: nowrap;
  zoom: 1; }

.button--is_disabled {
  cursor: not-allowed;
  opacity: .4; }

.button--is_active, .button:active {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15) inset, 0 -3px 6px 1px rgba(0, 0, 0, 0.1) inset; }

.button--is_hovered, .button:hover {
  box-shadow: 0 6px 20px 0 rgba(255, 255, 255, 0.11) inset, 0 -5px 18px 1px rgba(255, 255, 255, 0.09) inset;
  text-decoration: none; }

.button--sm {
  letter-spacing: .09em;
  text-transform: uppercase;
  font-family: 'Lato', 'Verdana', sans-serif;
  font-weight: 500;
  font-size: 11px;
  font-size: 1.1rem;
  margin: 8px 0;
  margin: 0.8rem 0; }

.button--lg {
  letter-spacing: .09em;
  text-transform: uppercase;
  font-family: 'Lato', 'Verdana', sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-size: 1.6rem;
  margin: 0 0 10px 0;
  margin: 0 0 1rem 0; }

.button--primary {
  background-color: #A12122;
  color: #ffffff; }

.button--secondary {
  background-color: #ffffff;
  color: #C93F16; }
  .button--secondary.button--is_hovered, .button--secondary.button:hover {
    box-shadow: 0 1px 30px 0px rgba(0, 0, 0, 0.05) inset, 0 -3px 4px 1px rgba(255, 255, 255, 0.01) inset;
    color: #a73412; }

.button--white {
  background-color: #ffffff;
  color: #C93F16;
  fill: #C93F16; }
  .button--white.button--is_hovered, .button--white.button:hover {
    box-shadow: 0 1px 30px 0px rgba(0, 0, 0, 0.05) inset, 0 -3px 4px 1px rgba(255, 255, 255, 0.01) inset;
    color: #8c1d1e;
    fill: #8c1d1e; }

.button--round {
  border-radius: 50%;
  text-align: center;
  padding: 1.15em;
  padding-left: 1.5em;
  padding-right: 1.5em; }
  .button--round i {
    display: block;
    padding-left: 0.15em;
    font-size: 2em; }

.button--icon {
  padding-top: 1.65em; }
  .button--icon .icon {
    margin-bottom: -0.2em; }
  .button--icon span {
    display: block;
    margin-bottom: -0.6em; }

.button--close {
  background: url('../img/i-close.svg') no-repeat;
  border: 1px solid #ffffff;
  height: 1.75em;
  right: 10%;
  padding: 0;
  position: absolute;
  top: 10%;
  width: 1.75em; }
  @media screen and (min-width: 500px) and (max-width: 899px)  {
    .button--close {
      right: 6%; } }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .button--close {
      right: 3%; } }

/*
 * Column
 *
 * A vertical column of elements that changes to a row at sm breakpoint.
 */
/*
 * Global variables
 */
/*
 * Color
 */
/*
 * Z-Index
 */
/*
 * Grid
 */
/*
 * Breakpoint
 */
@media screen and (min-width: 0px) and (max-width: 499px)  {
  .column {
    margin-top: 1em; } }

.column--shift_1 {
  margin-left: 8.446866485%; }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .column--shift_1 {
      margin-left: 0%; } }

.column--half {
  float: left;
  display: block;
  margin-right: 1.3623978202%;
  width: 49.3188010899%; }
  .column--half:last-child {
    margin-right: 0; }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .column--half {
      float: left;
      display: block;
      margin-right: 4.2016806723%;
      width: 100%; }
      .column--half:last-child {
        margin-right: 0; } }

.column--third {
  float: left;
  display: block;
  margin-right: 1.3623978202%;
  width: 32.4250681199%; }
  .column--third:last-child {
    margin-right: 0; }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .column--third {
      float: left;
      display: block;
      margin-right: 4.2016806723%;
      width: 100%; }
      .column--third:last-child {
        margin-right: 0; } }

.column--two_third {
  float: left;
  display: block;
  margin-right: 1.3623978202%;
  width: 66.2125340599%; }
  .column--two_third:last-child {
    margin-right: 0; }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .column--two_third {
      float: left;
      display: block;
      margin-right: 4.2016806723%;
      width: 100%; }
      .column--two_third:last-child {
        margin-right: 0; } }

.column--sixth {
  float: left;
  display: block;
  margin-right: 1.3623978202%;
  width: 15.5313351499%; }
  .column--sixth:last-child {
    margin-right: 0; }

.column--quarter {
  float: left;
  display: block;
  margin-right: 1.3623978202%;
  width: 23.9782016349%; }
  .column--quarter:last-child {
    margin-right: 0; }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .column--quarter {
      float: left;
      display: block;
      margin-right: 4.2016806723%;
      width: 100%; }
      .column--quarter:last-child {
        margin-right: 0; } }

/*
 * Column nested
 *
 * A column thats nested in another piece of content, usually an inset
 */
@media screen and (min-width: 0px) and (max-width: 499px)  {
  .nested_column {
    margin-top: 1em; } }

.nested_column--lg_greater_half {
  float: left;
  display: block;
  margin-right: 1.6393442623%;
  width: 59.3442622951%; }
  .nested_column--lg_greater_half:last-child {
    margin-right: 0; }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .nested_column--lg_greater_half {
      float: left;
      display: block;
      margin-right: 4.2016806723%;
      width: 100%; }
      .nested_column--lg_greater_half:last-child {
        margin-right: 0; } }

.nested_column--lg_two_lesser_half {
  float: left;
  display: block;
  margin-right: 1.6393442623%;
  width: 39.0163934426%; }
  .nested_column--lg_two_lesser_half:last-child {
    margin-right: 0; }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .nested_column--lg_two_lesser_half {
      float: left;
      display: block;
      margin-right: 4.2016806723%;
      width: 100%; }
      .nested_column--lg_two_lesser_half:last-child {
        margin-right: 0; } }

.nested_column--lg_fourth {
  float: left;
  display: block;
  margin-right: 1.6393442623%;
  width: 28.8524590164%; }
  .nested_column--lg_fourth:last-child {
    margin-right: 0; }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .nested_column--lg_fourth {
      float: left;
      display: block;
      margin-right: 4.2016806723%;
      width: 100%; }
      .nested_column--lg_fourth:last-child {
        margin-right: 0; } }

.nested_column--lg_greater_fourth {
  float: left;
  display: block;
  margin-right: 1.6393442623%;
  width: 69.5081967213%; }
  .nested_column--lg_greater_fourth:last-child {
    margin-right: 0; }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .nested_column--lg_greater_fourth {
      float: left;
      display: block;
      margin-right: 4.2016806723%;
      width: 100%; }
      .nested_column--lg_greater_fourth:last-child {
        margin-right: 0; } }

.nested_column--md_fourth {
  float: left;
  display: block;
  margin-right: 2.0576131687%;
  width: 23.4567901235%; }
  .nested_column--md_fourth:last-child {
    margin-right: 0; }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .nested_column--md_fourth {
      float: left;
      display: block;
      margin-right: 4.2016806723%;
      width: 100%; }
      .nested_column--md_fourth:last-child {
        margin-right: 0; } }

.corner {
  margin: 1em;
  position: absolute; }

.corner--tr {
  right: 0;
  top: 0; }

.full_width, .top_image {
  max-width: 73.3333333333em;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }
  .full_width:after, .top_image:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden; }

.icon {
  display: inline-block; }

.icon--img {
  color: #ffffff;
  display: block;
  margin-bottom: 1.5em;
  text-align: center;
  text-decoration: none; }
  .icon--img:hover {
    color: #ffffff;
    text-decoration: underline; }

/*
 * Inline text module
 *
 * The inline text module helps style text inline. It has separate styles for
 * centered inline text.
 */
/*
 * Global variables
 */
/*
 * Color
 */
/*
 * Z-Index
 */
.inline_text {
  float: left;
  display: block;
  margin-right: 1.3623978202%;
  width: 7.0844686649%; }
  .inline_text:last-child {
    margin-right: 0; }
  @media screen and (min-width: 500px) and (max-width: 899px)  {
    .inline_text {
      float: left;
      display: block;
      margin-right: 1.8248175182%;
      width: 77.3722627737%;
      text-align: center; }
      .inline_text:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .inline_text {
      float: left;
      display: block;
      margin-right: 4.2016806723%;
      width: 100%;
      text-align: center; }
      .inline_text:last-child {
        margin-right: 0; } }

.inline_text--centered, .main_nav {
  text-align: center; }
  .inline_text--centered .inline_text__ele--centered, .main_nav .inline_text__ele--centered, .inline_text--centered .main_nav__link, .main_nav .main_nav__link {
    display: inline-block;
    float: none; }

/*
 * Global variables
 */
/*
 * Color
 */
/*
 * Z-Index
 */
/*
 * Global mixins.
 */
/*
 * Sets the font-size in rems with a px fallback.
 */
/*
 * Parses a text value to an int.
 */
/*
 * Sets the property to the values in rem, with a px fallback for old browsers.
 *
 * $property The css property to set the values on
 * $values A list of rem values to set on the property.
 *
 * Example: @include rem(margin, 1rem 0 2rem);
 */
.main_nav {
  width: 100%; }

.main_nav--sticky {
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 43.1em;
  width: 100%;
  z-index: 200; }
  .main_nav--sticky .main_nav__link a {
    color: inherit !important; }
  .main_nav--sticky:not(.skrollable) {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    margin: 0;
    position: static !important;
    left: 0;
    top: 0; }

.main_nav__list {
  float: left;
  display: block;
  margin-right: 1.3623978202%;
  width: 100%;
  height: 4.6em;
  margin: 0 auto;
  text-align: center; }
  .main_nav__list:last-child {
    margin-right: 0; }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .main_nav__list {
      float: left;
      display: block;
      margin-right: 4.2016806723%;
      width: 100%;
      padding-left: 0;
      margin: 0 auto; }
      .main_nav__list:last-child {
        margin-right: 0; } }

.section__content.main_nav__list {
  padding-bottom: 0em;
  padding-top: 0.75em; }

.main_nav__link {
  margin: 0 auto;
  text-align: left;
  line-height: 4em; }
  .main_nav__link:after {
    content: "|";
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em; }
    @media screen and (min-width: 0px) and (max-width: 499px)  {
      .main_nav__link:after {
        padding-left: .5em;
        padding-right: .5em; } }
  .main_nav__link:last-child:after {
    display: none; }
  .main_nav__link * {
    text-decoration: none; }
    .main_nav__link *:hover {
      text-decoration: underline; }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .main_nav__link {
      font-size: 10px;
      font-size: 1rem; } }

.main_nav__logos--main {
  text-align: center; }
  .main_nav__logos--main.main_nav__logos--main img {
    margin-bottom: 2em;
    margin-top: 0;
    max-height: 50px;
    width: inherit; }

.main_nav__logos {
  float: left;
  display: block;
  margin-right: 1.3623978202%;
  width: 23.9782016349%;
  right: 0;
  position: absolute;
  text-align: right; }
  .main_nav__logos:last-child {
    margin-right: 0; }
  @media screen and (min-width: 500px) and (max-width: 899px)  {
    .main_nav__logos:first-child {
      display: none; }
    .main_nav__logos.main_nav__list {
      margin-top: 0;
      padding-top: 0;
      position: static;
      text-align: center;
      width: 100%; } }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .main_nav__logos:first-child {
      display: none; }
    .main_nav__logos.scrollable:first-child {
      display: block; }
    .main_nav__logos.main_nav__list {
      margin-top: 0;
      padding-top: 0;
      position: static;
      text-align: center;
      width: 100%; } }
  .main_nav__logos img {
    max-height: 50px; }
  .main_nav__logos .main_nav__link {
    margin-right: 10px; }
    .main_nav__logos .main_nav__link:after {
      display: none; }

.inset {
  margin-right: 0; }

.inset--lg, .block, .logo--top {
  float: left;
  display: block;
  margin-right: 1.3623978202%;
  width: 83.10626703%;
  margin-right: 0;
  margin-left: 8.3333%; }
  .inset--lg:last-child, .block:last-child, .logo--top:last-child {
    margin-right: 0; }
  @media screen and (min-width: 500px) and (max-width: 899px)  {
    .inset--lg, .block, .logo--top {
      margin-left: 0%;
      float: left;
      display: block;
      margin-right: 1.8248175182%;
      width: 100%;
      margin-right: 0;
      padding-left: 3em;
      padding-right: 3em; }
      .inset--lg:last-child, .block:last-child, .logo--top:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .inset--lg, .block, .logo--top {
      margin-left: 0%;
      float: left;
      display: block;
      margin-right: 4.2016806723%;
      width: 100%;
      margin-right: 0; }
      .inset--lg:last-child, .block:last-child, .logo--top:last-child {
        margin-right: 0; } }

.inset--md {
  float: left;
  display: block;
  margin-right: 1.3623978202%;
  width: 66.2125340599%;
  margin-left: 16.89373297%; }
  .inset--md:last-child {
    margin-right: 0; }
  @media screen and (min-width: 500px) and (max-width: 899px)  {
    .inset--md {
      float: left;
      display: block;
      margin-right: 1.8248175182%;
      width: 77.3722627737%;
      margin-left: 11.3138686131%; }
      .inset--md:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .inset--md {
      margin-left: 0%;
      float: left;
      display: block;
      margin-right: 4.2016806723%;
      width: 100%;
      padding: 0 1em; }
      .inset--md:last-child {
        margin-right: 0; } }

.inset--sm {
  float: left;
  display: block;
  margin-right: 1.3623978202%;
  width: 49.3188010899%;
  margin-left: 25.340599455%; }
  .inset--sm:last-child {
    margin-right: 0; }
  .inset--sm:nth-child(1n) {
    margin-right: 0; }
  .inset--sm:nth-child(1n+1) {
    clear: left; }
  @media screen and (min-width: 500px) and (max-width: 899px)  {
    .inset--sm {
      margin-left: 8.446866485%;
      float: left;
      display: block;
      margin-right: 1.8248175182%;
      width: 77.3722627737%; }
      .inset--sm:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .inset--sm {
      margin-left: 0%;
      float: left;
      display: block;
      margin-right: 4.2016806723%;
      width: 100%;
      padding: 0 1em; }
      .inset--sm:last-child {
        margin-right: 0; } }

/*
 * Global variables
 */
/*
 * Color
 */
/*
 * Z-Index
 */
/*
 * Global mixins.
 */
/*
 * Sets the font-size in rems with a px fallback.
 */
/*
 * Parses a text value to an int.
 */
/*
 * Sets the property to the values in rem, with a px fallback for old browsers.
 *
 * $property The css property to set the values on
 * $values A list of rem values to set on the property.
 *
 * Example: @include rem(margin, 1rem 0 2rem);
 */
.section {
  clear: left; }
  .section:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden; }
  @media screen and (min-width: 500px) and (max-width: 899px)  {
    .section {
      padding-left: 1em;
      padding-right: 1em; } }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .section {
      padding-left: 1em;
      padding-right: 1em; } }

.section--white {
  background-color: #ffffff; }

.section--neutral_dark {
  background-color: #E5E1D4;
  color: #67655D; }

.section--neutral_medium {
  background-color: #F2EFE8; }

.section--no_tm .section__content {
  padding-top: 0; }

.section--no_bm .section__content {
  padding-bottom: 0; }

.section__content {
  padding-top: 2.5em;
  padding-bottom: 2.5em; }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .section__content {
      padding-top: 1.5em;
      padding-bottom: 1.5em; } }

.section__content--lg {
  padding-top: 4.5em;
  padding-bottom: 3em; }

.section__content--xsm {
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

.section__content--sm {
  padding-top: 1em;
  padding-bottom: 1em; }

.section__box {
  padding: 1em; }
  .section__box > *:last-child {
    margin-bottom: 0; }
  .section__box + .section__box {
    margin-top: 2.6em; }

.section__page-header {
  position: relative;
  width: 100%;
  overflow: hidden; }
  .section__page-header .banner--page {
    position: absolute;
    top: 0; }

/*
 * Global variables
 */
/*
 * Color
 */
/*
 * Z-Index
 */
.separator {
  border-color: #ADA598; }

.separator--h {
  margin-top: 1em;
  margin-bottom: 2em; }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .separator--h {
      margin-top: 0.5em;
      margin-bottom: 1em; } }

.separator--t {
  border-top-width: 2px;
  border-top-style: solid;
  margin-top: 1em;
  padding-top: 1em; }

.separator--r {
  border-right-width: 2px;
  border-right-style: solid;
  margin-right: 0.75em;
  padding-right: 0.75em; }

.separator--l {
  border-left-width: 2px;
  border-left-style: solid;
  margin-left: 0.75em;
  padding-left: 0.75em; }

.separator--white {
  border-color: #ffffff; }

@media screen and (min-width: 0px) and (max-width: 499px)  {
  .separator--hide_sm {
    border-left: 0;
    border-right: 0;
    margin-left: initial;
    margin-right: initial;
    padding-left: initial;
    padding-right: initial; } }

.column .separator--h {
  margin-bottom: 1em; }

/*
 * Sub Nav
 *
 * A sub inline navigation separate from the Main Nav
 */
/*
 * Global variables
 */
/*
 * Color
 */
/*
 * Z-Index
 */
.sub_nav {
  color: #67655D; }
  .sub_nav a {
    color: #67655D;
    text-decoration: none; }
    .sub_nav a:hover {
      text-decoration: underline; }

.sub_nav--vertical .sub_nav__link {
  margin-top: .5em;
  margin-bottom: .5em; }

.sub_nav--horizontal .sub_nav__link {
  display: inline-block;
  margin-right: 1em; }

.sub_nav__link--condensed {
  line-height: 1.3; }

.sub_nav__link--horizontal {
  margin-left: 7%; }
  .sub_nav__link--horizontal * {
    text-decoration: none; }
  @media screen and (min-width: 500px) and (max-width: 899px)  {
    .sub_nav__link--horizontal {
      margin-left: 5%; } }
  .sub_nav__link--horizontal *[aria-selected=true] {
    text-decoration: underline; }

.anchor {
  clear: left;
  margin-top: 0; }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .anchor {
      padding: 0 1em; } }
  .anchor .anchor__text {
    display: inline-block;
    margin-left: .4em; }
    .anchor .anchor__text a {
      text-decoration: none; }
    .anchor .anchor__text h5 {
      line-height: 0.6;
      margin-bottom: 0; }
    .anchor .anchor__text .t-body--sm, .anchor .anchor__text .sub_nav__link {
      color: #67655D;
      line-height: 1.3; }
  .anchor .anchor__link {
    color: #aaa698;
    text-decoration: none; }
  .anchor .anchor__icon {
    display: inline-block; }

.anchor_linker {
  position: absolute;
  top: -8em; }

.block .block__side {
  float: left;
  display: block;
  margin-right: 1.6393442623%;
  width: 39.0163934426%; }
  .block .block__side:last-child {
    margin-right: 0; }
  @media screen and (min-width: 500px) and (max-width: 899px)  {
    .block .block__side {
      float: left;
      display: block;
      margin-right: 1.8248175182%;
      width: 100%;
      text-align: center; }
      .block .block__side:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .block .block__side {
      float: left;
      display: block;
      margin-right: 4.2016806723%;
      width: 100%;
      padding-left: 1em;
      padding-right: 1em;
      margin-top: 2em; }
      .block .block__side:last-child {
        margin-right: 0; } }
  .block .block__side * {
    max-width: 100%; }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .block .block__side {
      text-align: center; } }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .block .block__side {
      text-align: center; } }
.block .block__bottom {
  float: left;
  display: block;
  margin-right: 1.6393442623%;
  width: 100%; }
  .block .block__bottom:last-child {
    margin-right: 0; }
  @media screen and (min-width: 500px) and (max-width: 899px)  {
    .block .block__bottom {
      float: left;
      display: block;
      margin-right: 1.8248175182%;
      width: 100%;
      text-align: center; }
      .block .block__bottom:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .block .block__bottom {
      float: left;
      display: block;
      margin-right: 4.2016806723%;
      width: 100%;
      padding-left: 1em;
      padding-right: 1em;
      margin-top: 2em; }
      .block .block__bottom:last-child {
        margin-right: 0; } }
  .block .block__bottom * {
    max-width: 100%; }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .block .block__bottom {
      text-align: center; } }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .block .block__bottom {
      text-align: center; } }
.block .block__content {
  float: left;
  display: block;
  margin-right: 1.6393442623%;
  width: 59.3442622951%;
  margin-right: 0;
  min-height: 16.2em; }
  .block .block__content:last-child {
    margin-right: 0; }
  @media screen and (min-width: 500px) and (max-width: 899px)  {
    .block .block__content {
      float: left;
      display: block;
      margin-right: 1.8248175182%;
      width: 100%;
      margin-right: 0;
      min-height: 14em; }
      .block .block__content:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .block .block__content {
      float: left;
      display: block;
      margin-right: 4.2016806723%;
      width: 100%;
      margin-top: 2em;
      padding-left: 1em;
      padding-right: 1em; }
      .block .block__content:last-child {
        margin-right: 0; } }
  .block .block__content .t-title--2, .block .block__content .t-title--3, .block .block__content .button--md {
    font-weight: 300;
    margin-bottom: 0; }
  .block .block__content .t-heading--2, .block .block__content h2 {
    margin-bottom: 0.1em; }
.block .block__content_full {
  float: left;
  display: block;
  margin-right: 1.6393442623%;
  width: 100%;
  margin-right: 0;
  min-height: 15.2em; }
  .block .block__content_full:last-child {
    margin-right: 0; }
  @media screen and (min-width: 500px) and (max-width: 899px)  {
    .block .block__content_full {
      float: left;
      display: block;
      margin-right: 1.8248175182%;
      width: 100%;
      margin-right: 0;
      min-height: 14em; }
      .block .block__content_full:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .block .block__content_full {
      float: left;
      display: block;
      margin-right: 4.2016806723%;
      width: 100%;
      margin-top: 2em;
      padding-left: 1em;
      padding-right: 1em; }
      .block .block__content_full:last-child {
        margin-right: 0; } }
  .block .block__content_full .t-title--2, .block .block__content_full .t-title--3, .block .block__content_full .button--md {
    font-weight: 300;
    margin-bottom: 0; }
  .block .block__content_full .t-heading--2, .block .block__content_full h2 {
    margin-bottom: 0.1em; }

.breadcrumbs {
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0 auto;
  max-width: 45em;
  min-width: 65em;
  padding-top: 2.5em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  width: 100%; }
  @media screen and (min-width: 500px) and (max-width: 899px)  {
    .breadcrumbs {
      padding-left: 4em; } }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .breadcrumbs {
      padding-left: 1em !important; } }
  .breadcrumbs .breadcrumbs__link {
    font-size: 12px;
    font-size: 1.2rem;
    color: #767676;
    text-decoration: none;
    -webkit-text-size-adjust: 100%; }
  .breadcrumbs a.breadcrumbs__link:hover {
    text-decoration: underline; }
  .breadcrumbs .breadcrumbs__separator {
    background: url('img/i-arrow-right.svg');
    color: #767676;
    display: inline-block;
    height: 1.2rem;
    padding-left: 0.6em;
    vertical-align: sub;
    width: 2.2rem; }
    @media screen and (min-width: 0px) and (max-width: 499px)  {
      .breadcrumbs .breadcrumbs__separator {
        padding-left: 0em;
        width: 1rem; } }

footer .nested_column--stacked {
  margin-bottom: 2.5em; }
@media screen and (min-width: 500px) and (max-width: 899px)  {
  footer .inset--lg, footer .block, footer .logo--top {
    padding-left: 1em;
    padding-right: 1em; } }
@media screen and (min-width: 0px) and (max-width: 499px)  {
  footer.section {
    padding-top: .5em; }
  footer .column {
    margin-top: 2em; }
    footer .column.sub_nav {
      margin-top: 0; }
  footer .nested_column--stacked {
    margin-bottom: 1.5em; } }

.header {
  position: relative; }
  .header .header__logo {
    left: 3%;
    position: absolute; }
    @media screen and (min-width: 0px) and (max-width: 499px)  {
      .header .header__logo {
        position: static;
        text-align: center; } }
    .header .header__logo .logo__img {
      margin-left: 0; }
  .header .header__title {
    margin: 0 auto;
    padding-top: 18px;
    min-height: 5.5em;
    padding-bottom: 0.5em;
    text-align: center;
    width: 60%; }

/*
 * Global mixins.
 */
/*
 * Sets the font-size in rems with a px fallback.
 */
/*
 * Parses a text value to an int.
 */
/*
 * Sets the property to the values in rem, with a px fallback for old browsers.
 *
 * $property The css property to set the values on
 * $values A list of rem values to set on the property.
 *
 * Example: @include rem(margin, 1rem 0 2rem);
 */
.logo {
  display: inline-block;
  margin-top: .45em;
  vertical-align: middle; }
  .logo .logo__text {
    font-size: 35px;
    font-size: 3.5rem;
    display: inline-block;
    font-family: georgia,times,"times new roman",serif;
    font-weight: 100;
    vertical-align: middle; }
    @media screen and (min-width: 0px) and (max-width: 499px)  {
      .logo .logo__text {
        padding-top: .5em; } }
    .logo .logo__text a {
      text-decoration: none; }
  .logo .logo__suplementary {
    display: inline-block;
    font-weight: 300;
    overflow: elipsis;
    padding-bottom: .4em;
    padding-top: .4em;
    vertical-align: baseline; }

.logo__img {
  border: 0;
  outline: 0;
  text-decoration: none; }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .logo__img {
      margin-left: 1em; } }
  .logo__img img {
    border: 0;
    display: inline-block;
    outline: 0;
    text-decoration: none;
    vertical-align: middle; }
    @media screen and (min-width: 0px) and (max-width: 499px)  {
      .logo__img img {
        vertical-align: top; } }

.logo--top {
  width: 10%;
  margin-bottom: 13.533333em;
  margin-top: 3.866666em; }

.logo__page img {
  width: 5em;
  margin-top: 0em;
  margin-bottom: 0.5em; }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .logo__page img {
      width: 3.5em !important; } }

.map__image {
  border: 0.3em solid #f1eee8; }

.skrollr .panel .panel__background__img {
  background: transparent !important; }

.panel {
  border-bottom: .5333333em solid #E5E2D3; }
  .panel .panel__background {
    background-position: center;
    border-top: .5333333em solid #E5E2D3;
    clear: left;
    width: 100%; }
  .panel .panel__background__img {
    height: 100%;
    width: 100%;
    z-index: 0; }
    @media screen and (min-width: 500px) and (max-width: 899px)  {
      .panel .panel__background__img {
        background-size: cover !important; } }
    @media screen and (min-width: 0px) and (max-width: 499px)  {
      .panel .panel__background__img {
        background-size: cover !important; } }
    @media screen and (min-width: 0px) and (max-width: 499px)  {
      .panel .panel__background__img.sm--r {
        background-position: 40% 0 !important; } }
    @media screen and (min-width: 0px) and (max-width: 499px)  {
      .panel .panel__background__img.sm--c {
        background-position: 20% 0 !important; } }
  .panel .panel__content {
    background: #ffffff;
    clear: left; }
  .panel .panel__background--right .panel__background__img {
    background-position: right; }
  .panel .panel__background--left .panel__background__img {
    background-position: left; }
  .panel.panel--a {
    position: relative; }
    .panel.panel--a .panel__background {
      height: 70.1333333em; }
      @media screen and (min-width: 500px) and (max-width: 899px)  {
        .panel.panel--a .panel__background {
          height: 64em; } }
      @media screen and (min-width: 0px) and (max-width: 499px)  {
        .panel.panel--a .panel__background {
          height: 30em; } }
    .panel.panel--a .panel__background__img:not(.skrollable) {
      background-size: cover !important;
      background-position: 2% 0%; }
      @media screen and (min-width: 0px) and (max-width: 499px)  {
        .panel.panel--a .panel__background__img:not(.skrollable) {
          background-position: 70% 0% !important; } }
    @media screen and (min-width: 500px) and (max-width: 899px)  {
      .panel.panel--a .panel__background__img {
        background-position: 18% 0%; } }
    @media screen and (min-width: 0px) and (max-width: 499px)  {
      .panel.panel--a .panel__background__img {
        background-size: cover !important;
        background-position: 40% 0%; } }
    .panel.panel--a .panel__content {
      float: left;
      display: block;
      margin-right: 1.3623978202%;
      width: 49.3188010899%;
      margin-left: 8.446866485%;
      padding: 1.66666em;
      position: absolute;
      top: 3%;
      z-index: 100; }
      .panel.panel--a .panel__content:last-child {
        margin-right: 0; }
      .panel.panel--a .panel__content img {
        max-width: 100%; }
      @media screen and (min-width: 500px) and (max-width: 899px)  {
        .panel.panel--a .panel__content {
          float: left;
          display: block;
          margin-right: 1.8248175182%;
          width: 88.6861313869%;
          margin-left: 11.3138686131%;
          margin-left: 2%;
          top: 7%;
          width: 80%; }
          .panel.panel--a .panel__content:last-child {
            margin-right: 0; } }
      @media screen and (min-width: 0px) and (max-width: 499px)  {
        .panel.panel--a .panel__content {
          float: left;
          display: block;
          margin-right: 4.2016806723%;
          width: 100%;
          margin-left: 0%;
          margin-top: 2em;
          padding: 1em;
          position: static;
          top: 0; }
          .panel.panel--a .panel__content:last-child {
            margin-right: 0; } }
  .panel.panel--b {
    position: relative; }
    .panel.panel--b .panel__background {
      height: 45em; }
      @media screen and (min-width: 500px) and (max-width: 899px)  {
        .panel.panel--b .panel__background {
          height: 38em; } }
      @media screen and (min-width: 0px) and (max-width: 499px)  {
        .panel.panel--b .panel__background {
          height: 22em; } }
      @media screen and (max-height: 650px)  {
        .panel.panel--b .panel__background {
          height: 39em; } }
      @media screen and (max-height: 584px)  {
        .panel.panel--b .panel__background {
          height: 31em; } }
    .panel.panel--b .panel__content {
      padding-top: 3.66em;
      padding-bottom: 2em;
      height: 100%;
      width: 100%; }
      @media screen and (min-width: 0px) and (max-width: 499px)  {
        .panel.panel--b .panel__content {
          padding-top: 2em;
          padding-bottom: 3em; } }

.panel__story p {
  max-width: 45em;
  margin: 0 auto;
  font-size: 1.2em;
  padding-bottom: 1.75em;
  padding-left: 2.5em;
  padding-right: 2.5em; }
  .panel__story p span {
    font-family: Archer, Archer SSm A, Archer SSm B, serif;
    color: #A12122;
    font-size: 1.15em;
    display: block; }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .panel__story p {
      padding-left: 1.5em;
      padding-right: 1.5em; } }
.panel__story img {
  margin-top: 2.5em;
  margin-bottom: 3em;
  width: 100%; }
.panel__story .bi-image {
  max-width: 45em;
  margin: 0 auto;
  overflow: hidden; }
  .panel__story .bi-image img {
    width: 50%;
    float: left; }
.panel__story .tri-image {
  max-width: 100%;
  overflow: hidden; }
  .panel__story .tri-image .tri-image_one, .panel__story .tri-image .tri-image_three {
    display: none; }
  @media only screen and (min-width: 1117px) {
    .panel__story .tri-image img {
      max-height: 300px;
      width: auto;
      float: left; }
    .panel__story .tri-image .tri-image_one, .panel__story .tri-image .tri-image_three {
      display: block; } }
.panel__story.simplepage ul {
  color: #222;
  max-width: 45em;
  margin: 0 auto;
  font-size: 1.2em;
  padding-left: 3.5em;
  padding-right: 2.5em; }
  .panel__story.simplepage ul span {
    font-family: Archer, Archer SSm A, Archer SSm B, serif;
    color: #A12122;
    font-size: 1.15em;
    display: block; }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .panel__story.simplepage ul {
      padding-left: 1.5em;
      padding-right: 1.5em; } }

.breadcrumbs + .panel__story.panel__content {
  padding-top: 1.4em; }

@media screen and (min-width: 500px) and (max-width: 899px)  {
  .main_nav--sticky.skrollable ~ .wrap--top {
    margin-top: 7em; } }

.wrap--top {
  margin-top: 4.5em; }
  @media screen and (min-width: 500px) and (max-width: 899px)  {
    .wrap--top {
      margin-top: 0; } }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .wrap--top {
      margin-top: 0; } }

.parallax {
  max-width: 73.3333333333em;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  left: 50%;
  overflow: hidden;
  position: fixed;
  top: -100%;
  transform: translateX(-50%);
  width: 100%; }
  .parallax:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden; }
  .parallax:not(.skrollable) {
    display: none; }
  .parallax.parallax--a {
    height: 140%; }
  .parallax.no-skroll {
    display: none; }
  .parallax .parallax__bg {
    display: block;
    height: 100%;
    top: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%; }
    @media screen and (max-height: 650px)  {
      .parallax .parallax__bg {
        background-position: 0 10%; } }
    @media screen and (min-width: 901px) and (max-width: 1100px)  {
      .parallax .parallax__bg {
        background-size: 116%;
        background-position: 0; } }
    @media screen and (min-width: 500px) and (max-width: 899px)  {
      .parallax .parallax__bg {
        background-size: 122%; } }
    @media screen and (min-width: 0px) and (max-width: 499px)  {
      .parallax .parallax__bg {
        background-size: cover; } }
  .parallax .parallax--adjust {
    height: 120%;
    background-position: 0 25%; }

.share {
  z-index: 300;
  float: left;
  margin-left: 8px; }
  .share .share__box {
    -webkit-transition: height 0.65s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.65s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.65s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: height 0.65s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.65s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.65s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: height 0.65s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.65s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.65s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #ffffff;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 0;
    height: 0;
    margin-top: 0;
    overflow: hidden;
    padding: 0;
    text-align: center; }
    @media screen and (min-width: 0px) and (max-width: 499px)  {
      .share .share__box {
        width: 2.3em; } }
  .share.share--transparent .button, .share.share--transparent .share__box {
    -webkit-transition: height 0.65s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.65s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.65s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: height 0.65s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.65s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.65s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: height 0.65s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.65s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.65s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: transparent; }
  .share.share--transparent .button:hover {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.14) inset; }
  .share .button {
    font-size: 10px;
    font-size: 1rem;
    -webkit-transition: width 0.65s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.65s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: width 0.65s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.65s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: width 0.65s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.65s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #ffffff;
    border-bottom: 0;
    display: block;
    font-weight: 300;
    margin: 0;
    min-height: 3em;
    overflow: hidden;
    padding: 0;
    width: 13em; }
    .share .button:hover {
      box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.11) inset; }
    .share .button .share__link_text {
      font-weight: 500;
      line-height: 2.75em; }
    @media screen and (min-width: 0px) and (max-width: 499px)  {
      .share .button {
        width: 3.5em;
        background: url('../img/i-share.svg') no-repeat;
        background-position: center; }
        .share .button .share__link_text {
          -webkit-transition: opacity 0.2s linear 0.45s;
          -moz-transition: opacity 0.2s linear 0.45s;
          transition: opacity 0.2s linear 0.45s;
          opacity: 0; } }
  .share .share__text {
    font-size: 13px;
    font-size: 1.3rem;
    display: block;
    font-weight: 500;
    text-transform: lowercase; }
  .share .share__close {
    display: inline-block;
    margin-bottom: .4em;
    text-decoration: none; }
  .share .share__link:first-child {
    margin-top: 1.5em; }
  .share.is_active .button {
    background: rgba(0, 0, 0, 0.8); }
    @media screen and (min-width: 0px) and (max-width: 499px)  {
      .share.is_active .button {
        width: 12.4em; }
        .share.is_active .button:after {
          opacity: 0; }
        .share.is_active .button .share__link_text {
          opacity: 1; } }
  .share.is_active .share__box {
    background: rgba(0, 0, 0, 0.8);
    border-bottom-width: 1px;
    height: 24.4em; }
    @media screen and (min-width: 0px) and (max-width: 499px)  {
      .share.is_active .share__box {
        width: 8.3em; } }

.subscribe {
  z-index: 300;
  float: left; }
  .subscribe .subscribe__box {
    -webkit-transition: height 0.65s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.65s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.65s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: height 0.65s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.65s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.65s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: height 0.65s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.65s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.65s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: rgba(0, 0, 0, 0.1);
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    border-top-width: 0;
    height: 0;
    margin-top: 0;
    overflow: hidden;
    padding: 0;
    text-align: center; }
    @media screen and (min-width: 0px) and (max-width: 499px)  {
      .subscribe .subscribe__box {
        width: 2.3em; } }
    .subscribe .subscribe__box .button {
      font-size: 10px;
      font-size: 1rem;
      -webkit-transition: width 0.65s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.65s cubic-bezier(0.645, 0.045, 0.355, 1);
      -moz-transition: width 0.65s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.65s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: width 0.65s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.65s cubic-bezier(0.645, 0.045, 0.355, 1);
      background: rgba(201, 63, 22, 0.75);
      border: none;
      display: block;
      font-weight: 300;
      margin: 0;
      margin-top: 5px;
      min-height: 3em;
      overflow: hidden;
      padding: 0;
      width: 10em; }
      .subscribe .subscribe__box .button .subscribe__link_text {
        font-weight: 500;
        line-height: 2.75em; }
  .subscribe.subscribe--transparent .button, .subscribe.subscribe--transparent .subscribe__box {
    -webkit-transition: height 0.65s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.65s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.65s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: height 0.65s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.65s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.65s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: height 0.65s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.65s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.65s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: transparent; }
  .subscribe.subscribe--transparent .button:hover {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.14) inset; }
  .subscribe .button {
    font-size: 10px;
    font-size: 1rem;
    -webkit-transition: width 0.65s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.65s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: width 0.65s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.65s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: width 0.65s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.65s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #ffffff;
    border-bottom: 0;
    display: block;
    font-weight: 300;
    margin: 0;
    min-height: 3em;
    overflow: hidden;
    padding: 0;
    width: 16em; }
    .subscribe .button:hover {
      box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.11) inset; }
    .subscribe .button .subscribe__link_text {
      font-weight: 500;
      line-height: 2.75em; }
    @media screen and (min-width: 0px) and (max-width: 499px)  {
      .subscribe .button {
        width: 3.5em;
        background: url('../img/i-subscribe.svg') no-repeat;
        background-position: center; }
        .subscribe .button .subscribe__link_text {
          -webkit-transition: opacity 0.2s linear 0.45s;
          -moz-transition: opacity 0.2s linear 0.45s;
          transition: opacity 0.2s linear 0.45s;
          opacity: 0; } }
  .subscribe .subscribe__text {
    font-size: 13px;
    font-size: 1.3rem;
    display: block;
    font-weight: 500;
    padding: 8px; }
  .subscribe .subscribe__close {
    display: inline-block;
    margin-bottom: .4em;
    text-decoration: none; }
  .subscribe .subscribe__link:first-child {
    margin-top: 1.5em; }
  .subscribe.is_active .button {
    background: rgba(0, 0, 0, 0.8); }
    @media screen and (min-width: 0px) and (max-width: 499px)  {
      .subscribe.is_active .button {
        width: 12.4em; }
        .subscribe.is_active .button:after {
          opacity: 0; }
        .subscribe.is_active .button .subscribe__link_text {
          opacity: 1; } }
  .subscribe.is_active .subscribe__box {
    background: rgba(0, 0, 0, 0.8);
    border-bottom-width: 1px;
    height: 7em; }
    .subscribe.is_active .subscribe__box .button {
      background: rgba(201, 63, 22, 0.75);
      border: none; }
    @media screen and (min-width: 0px) and (max-width: 499px)  {
      .subscribe.is_active .subscribe__box {
        width: 8.3em;
        height: 8.3em; }
        .subscribe.is_active .subscribe__box .button {
          width: 8em; } }

.top_image {
  background-size: cover;
  background-position: center;
  border-bottom: #E5E2D3 solid .5333333em;
  height: 42.66666em;
  position: relative; }

.top_image--sm {
  height: 32em; }
  @media screen and (min-width: 500px) and (max-width: 899px)  {
    .top_image--sm {
      height: 28em; } }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .top_image--sm {
      height: 24em; } }

.top_image--bordered {
  border-bottom: .5333333em solid #E5E2D3; }

.video {
  -webkit-transition: opacity 1s linear 0.25s;
  -moz-transition: opacity 1s linear 0.25s;
  transition: opacity 1s linear 0.25s;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  opacity: 0;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 2em;
  position: absolute;
  top: 0;
  width: 100%; }

.video iframe {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  max-width: 45em;
  position: absolute;
  top: 50%;
  width: 100%; }

.video_sibling {
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  transition: opacity 1s linear; }

/*
 * Nested Columns overrides
 *
 * Care should be taken when using this class. It's often better to create a
 * module then write an override here.
 */
.o-nested_column--sevens .nested_column--fourth {
  float: left;
  display: block;
  margin-right: 2.358490566%;
  width: 26.8867924528%; }
  .o-nested_column--sevens .nested_column--fourth:last-child {
    margin-right: 0; }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .o-nested_column--sevens .nested_column--fourth {
      float: left;
      display: block;
      margin-right: 4.2016806723%;
      width: 100%; }
      .o-nested_column--sevens .nested_column--fourth:last-child {
        margin-right: 0; } }
.o-nested_column--sevens .nested_column_half {
  float: left;
  display: block;
  margin-right: 2.358490566%;
  width: 41.5094339623%; }
  .o-nested_column--sevens .nested_column_half:last-child {
    margin-right: 0; }
  @media screen and (min-width: 0px) and (max-width: 499px)  {
    .o-nested_column--sevens .nested_column_half {
      float: left;
      display: block;
      margin-right: 4.2016806723%;
      width: 100%; }
      .o-nested_column--sevens .nested_column_half:last-child {
        margin-right: 0; } }

.wrap {
  max-width: 73.3333333333em;
  margin-left: auto;
  margin-right: auto; }
  .wrap:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden; }

@media screen\0 {
  .wrap {
    max-width: 73.67em; } }

.wrap--white {
  background: #ffffff; }

/*# sourceMappingURL=letgirlslearn.css.map */